.MovieView-actions {
    list-style-type: none;
    padding: 0;
}
.MovieView-placeholder {
    height: 200px;
}

.MovieView-action {
    border: none;
    font: inherit;
    background: none;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    padding: 0.2rem 0;
    margin: 0.2rem 0;
}
