<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>What the Fuck Should I Watch?!</title>
  <link rel="icon" href="/static/icon_tiny.png">
  <meta name="description" content="Need a fucking movie suggestion? Spending fucking ages scrolling through Netflix? Fucking try this already." />
  <meta name="og:title" content="What the Fuck Should I Watch?"/>
  <meta name="og:description" content="Need a fucking movie suggestion? Spending fucking ages scrolling through Netflix? Fucking try this already." />
  <meta name="og:image" content="https://whatthefuckshouldiwatch.asherfoster.com/static/icon_big.png">
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="asherfoster"/>
  <link href="//fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="/static/styles.css" rel="stylesheet">
  <script src="https://browser.sentry-cdn.com/5.3.0/bundle.min.js" crossorigin="anonymous"></script>
  <script>Sentry.init({ dsn: 'https://d86a405cbf3242aaaac3a3ff2416d04a@sentry.io/1470209' });</script>
  <script src="//cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app" class="wrapper" style="display: none">
  <h1>{{title}}</h1>
  <hr class="top-hr">
  <div v-if="!deviceError && movie" class="suggestion">
    <h2>{{movie.title | conditionalFilter}}</h2>
    <p class="description">
      {{movie.overview | trim(400)}} -&nbsp;<a :href="movie.link">TMDb</a>
    </p>
    <div class="actions">
      <a href="#" @click="savePreference(action); reload()" v-for="action of movie.actions">{{action.text}}</a>
      <a href="#" @click="reload()">Just give me another {{fuck}}ing movie!</a>
    </div>
    <footer class="footer">
      <p class="reasoning" v-if="movie.reasonText">Suggested because you {{movie.reasonText}}</p>
      <hr class="footer-hr">
      <p>
        <a href="//github.com/asherfoster/wtfsiw">Github</a> -
        <a href="//asherfoster.com/things/whatthefuckshouldiwatch">About</a>
        <br>
        Made by Asher Foster with a {{fuck}} ton of luck.
        This product uses the TMDb API but is not endorsed or certified by TMDb.
      </p>
    </footer>
    <img v-if="movie.poster_url && poster" :src="movie.poster_url">
  </div>
  <div v-else-if="deviceError">
    <h2>Your device is ancient as {{fuck}}</h2>
    <p>This website requires a modern browser, please upgrade</p>
  </div>
  <div v-else-if="!movie">
    <h2>Loading...</h2>
  </div>
</div>
<script src="/static/app.js"></script>
</body>
</html>
