* {
  font-family: "Karla", "Arial", sans-serif;
}
a {
  color: inherit;
}
.wrapper {
  max-width: 650px;
  margin: auto;
  font-size: 20px;
}
h1 {
  text-transform: uppercase;
  font-size: 70px;
  margin-bottom: 10px;
}
.top-hr {
  margin-left: 0;
  width: 300px;
  border: 3px solid #000;
}
.description {
  margin-bottom: 40px;
}
.actions a {
  display: block;
  margin: 12px 0;
}
.reasoning {
  font-style: italic;
}
.footer {
  margin-top: 60px;
  font-size: 16px;
}
.footer-hr {
  width: 100px;
  margin: 0;
}
