:root {
    --background: #FFF;
    --color: #000;
    --page-width: 720px;
    font-family: "Karla", "Arial", sans-serif;
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --background: #000;
        --color: #FFF;
    }
}
html {
    background: var(--background);
    color: var(--color);
}

#root {
    max-width: var(--page-width);
    margin: auto;
    font-size: 20px;
}

a {
    color: inherit;
}

h1 {
    text-transform: uppercase;
    font-size: 70px;
}
hr {
    color: inherit;
    border: 2px solid currentColor;
}
